/* <--------------NavBar-----------> */

/* font-family: 'Gudea', sans-serif;
font-family: 'Fredoka One', cursive; */

/* #33999D  #032528  #fefee2 */

body, html {
    margin: 0;
    padding: 0;
    background-color: #fefee2;

}

nav {
    background-color: #33999D;
    height: 100px;
    width : 100%;

}
 nav img {

    height: 120px;
    width: 120px;
 }

 nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

 }

nav ul li {
    list-style-type: none;
    font-family: 'Gudea', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-right: 30px;

}

nav ul li a {
    text-decoration: none;
    color : #fefee2;

}

a:hover, a:focus {
    font-weight:bold;
    color: #032528;
  }


  /* <--------HOME---------------> */

        /* // SLIDE // */


  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
    padding: auto;
    font-family: 'Gudea', sans-serif;


  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    font-family: 'Gudea', sans-serif;


  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: #fefee2;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 25px;
    font-family: 'Gudea', sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    opacity: 1;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

  }

  .active, .dot:hover {
    background-color: #032528;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

         /* //CONCEPT// */

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
  font-size: 15px;
}
#concept h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  color: #032528;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 50px;
}

#concept p {
  font-family: 'Gudea', sans-serif;
  font-size: 30px;
  color: #032528;
  text-align: center;
}

#deal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#deal h2 {
  text-decoration: none;
  color: #fefee2;
  font-size: 18px;
  margin-top: 20px;
}

#deal1 h2 {
  text-decoration: none;
  color: #fefee2;
  font-size: 18px;
}

#deal h3 {
  text-decoration: none;
}

.images1{
  background-image: url('../media/Budapest.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
  margin-right: 20px;
}

.images2{
  background-image: url('../media/Budapest.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
  margin-right: 20px;
}

.images3{
  background-image: url('../media/Budapest.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
  margin-right: 20px;
}

#deal1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.images4{
  background-image: url('../media/Budapest.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
  margin-right: 20px;
}

.images5{
  background-image: url('../media/Budapest.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
  margin-right: 20px;
}

.images6{
  background-image: url('../media/Budapest.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
  margin-right: 20px;
}

#deal a {
  text-decoration: none;
  margin-right: 10px;
  font-family: 'Gudea', sans-serif;
}

#deal1 a {
  text-decoration: none;
  margin-right: 10px;
  font-family: 'Gudea', sans-serif;
}

#deal p {
  margin-top: -16px;
  text-align: center;
  font-family: 'Gudea', sans-serif;
}

#deal1 p {
  margin-top: -16px;
  text-align: center;
  font-family: 'Gudea', sans-serif;
}

.textes {
  background: rgba(3, 37, 40, 0.4);
  margin-top: 240px;
  color: #fefee2;
  height: 170px;

}


          /* // TIMER // */


.timer {
  color: #fefee2;
  text-align: center;
  background-color:  #032528;
  margin-top: 150px;

 }

.timer h2 {
    font-weight: normal;
    font-family: 'Gudea', sans-serif;

  }

.timer h3 {
  font-weight: normal;
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
}

.timer ul li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    height: 200px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 100px;
  }

.timer>ul>li>span {
    display: block;
    font-size: 4.5rem;
  }

    /* // GARANTIES // */

#garanty {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Gudea', sans-serif;
  font-size: 22px;
  margin-top: 130px;
  margin-bottom: 100px;
  color: #032528;
}

 h2 {
  padding-top: 70px;
  font-family: 'Fredoka One', cursive;
  color: #33999D;
  text-align: center;

}

 a>h2 {
  text-decoration: none;
  list-style-type: none;
}
.garantyimg1 {
  display : flex;
  flex-direction: column;
  align-items: center;
}

.garantyimg2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.garantyimg3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.garantyimg4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.garantyimg1 img {
  height: 50px;
  width: 50px;
}

.garantyyimg2 img {
  height: 50px;
  width: 50px;
}

.garantyimg3 img {
  height: 50px;
  width: 50px;
}

.garantyimg4 img {
  height: 50px;
  width: 50px;
}


/* <---------Footer---------> */


footer {

  background-color: #33999D;
  font-family: 'Gudea', sans-serif;
  height: 140px;

}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

footer ul li {
  list-style-type: none;
  margin-right: 80px;
  margin-top:10px;


}

footer a {
  text-decoration: none;
  color:#fefee2;
  font-size: 20px;


}

footer p {
  text-align: center;
  color: #fefee2;

}

p{
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

/* <------FORMULAIRE-----> */

@import url('https://fonts.googleapis.com/css?family=Cabin');

* { box-sizing: border-box }

#formulaire {
    font-family: 'Gudea', sans-serif;
    color: #fefee2;
    color: #032528;
    height: 700px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Gudea', sans-serif;
}

legend {
    text-shadow: 0px 2px 1px rgba(0,0,0,0.2);
    width: 100%;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

input,
textarea, select, option {
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    width: 100%;
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
    transition: all 0.2s ease;
    color: #33999D;
}

input[type="submit"] {
    background: #032528;
    border: 1px solid #33999D;;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 4px 0px rgba(6,82,117,1);
}


input[type="checkbox"]{
    width: auto;
    display: inline;
}

input:focus,
textarea:focus {
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
    border: 1px solid white;
    background: rgba(0,0,0,0.1);
}

label {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.2);
}

submit {
    height: auto;
    margin: 0;
    background: none;
    width: 100%;
    color: #fefee2;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    width: 100%;
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
    transition: all 0.2s ease;
    color: #fefee2;
}

                /*  PAYS */

#pays {
    display: flex;
    flex-direction: column;
    background-color: #fefee2;
}

.row1,
.row2,
.row3,
.row4,
.row5,
.row6,
.row7,
.row8,
.row9{
    display: flex;
    flex-direction: row;
}

.row1 img,
.row2 img,
.row3 img,
.row4 img,
.row5 img,
.row6 img,
.row7 img,
.row8 img,
.row9 img {
   height: 350px;
   width: 100%;
}

.row1 a,
.row2 a,
.row3 a,
.row4 a,
.row5 a,
.row6 a,
.row7 a,
.row8 a,
.row9 a{
    color: #33999D;
    text-decoration: none;
    position: relative;
}

.row1 p,
.row2 p,
.row3 p,
.row4 p,
.row5 p,
.row6 p,
.row7 p,
.row8 p,
.row9 p{

}

a:hover img {
    transform: scale(1.05);
}

/* <---------------GET AIRPORT-----------> */

#getairport {
    font-family: 'Gudea', sans-serif;
    font-size: 20px;
    width: 80%;
    margin: auto;
}
/*
<------------BOOKING------------> */

#booking h1{
    font-family: 'Gudea', sans-serif;
    font-size: 20px;
    color: #33999D;
    text-align: center;
   font-size:30px;
}


/*
  <-------MENTIONS--------> */
#mentions {
    width: 80%;
    border: solid 4px #33999D;
    margin: auto;
    height: 620px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fefee2;
}

#mentions p{
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    color: #032528;
    width: 70%;
    margin-left: 15%;
}

#mentions h1 {
    font-family: 'Gudea', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #33999D;
}

/* <-----POLITIQUE------> */

#politique {
    width: 80%;
    border: solid 4px #33999D;
    margin: auto;
    height: 620px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fefee2;
}

#politique p{
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    color: #032528;
    width: 70%;
    margin-left: 15%;

}

#politique h1{
    font-family: 'Gudea', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #33999D;
}


/* <--------CGV-------> */

#cgv {
    width: 80%;
    border: solid 4px #33999D;
    margin: auto;
    height: 620px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fefee2;
}

#cgv p{
     margin-left: 15%;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    color: #032528;
    width: 70%;
}

#cgv h1 {
    font-family: 'Gudea', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #33999D;
}

/*
<--------------------ANIMATION---------------> */

html,
body {
  background-color: #fefee2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  position: relative;
}

.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/**
 * Paper Plane
 */
/*Paper Plane: Container*/
.plane-container {
  width: 200px;
  margin: 0px auto;
  z-index: 3;
}
 /*Paper Plane: Image*/
.plane {
  width: 100%;
  height: 60px;
}

/*Paper Plane: Animation*/
.plane-container {
  -webkit-animation: paper-plane-scoping 2s alternate infinite;
  -moz-animation: paper-plane-scoping 2s alternate infinite;
  animation: paper-plane-scoping 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
}
@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/**
 * Clouds
 */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

